p#time-string
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 100px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

p#week-string
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

p#weather-today,
p#weather-forecast-1
{
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px 0px 0px 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

i#weather-icon-today,
i#weather-icon-forecast-1
{
    padding-top: 15px;
    padding-bottom: 0px;
    font-size: 60px;
    margin: 0px 0px 0px 0px;
}

p#weather-status-today,
p#weather-status-forecast-1
{
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}